.image-fashion{
    background-image: url("https://res.cloudinary.com/delrn2vxa/image/upload/v1712053039/a_gzsx22.png");
}
.image-tech{
    background-image: url("https://res.cloudinary.com/delrn2vxa/image/upload/v1712053185/a_1_mzqi0s.png");
}
.image-style{
    background-image: url("https://res.cloudinary.com/delrn2vxa/image/upload/v1712053193/a_2_npgywf.png");
}