li{
    list-style-type: none;
}

ul{
    padding-left: 0;
    margin-top: 0px;
}
.header-ul{
    display:flex;
    justify-content:space-between;
    align-items:center
}
.header-ul-2{
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:50vw;
}
.so-logo{
    width:10vw;
    display:flex;
    justify-content: space-between;
    
}