.Footer{
    border:2px solid green;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    line-height: 60px;
}
.footer-ul{
    display: flex;
    width:40vw;
    justify-content:space-between;
    align-items: center;
}
.footer-card{
    display: flex;
    align-items: center;
    flex-direction: column;

}